@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Chakma&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: #01AFC6;
}

html {
  font-size: 62.5%;
}

#mainMenu {
  height: 100vh;
  display: grid;
  grid-template: 65px 1fr/repeat(2, 1fr);
}
#mainMenu img {
  grid-row: 1/3;
  width: 100%;
  height: 100%;
}
#mainMenu h1 {
  font-family: "IBM Plex Sans JP", sans-serif;
  color: #FFF;
  grid-row: 1/2;
  grid-column: 2/3;
  text-align: center;
  font-size: 5rem;
}
#mainMenu ul {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  height: 80%;
  width: 80%;
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(2, 1fr);
  place-items: center;
}
#mainMenu ul li img {
  height: 6.4rem;
  width: 6.4rem;
  margin-bottom: 0.5rem;
}
#mainMenu ul li a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #FFF;
  place-items: center;
}
#mainMenu ul li p {
  font-size: 3rem;
  text-transform: uppercase;
}

@-webkit-keyframes seta {
  0% {
    left: 0.5%;
  }
  100% {
    left: 0%;
  }
}

@keyframes seta {
  0% {
    left: 0.5%;
  }
  100% {
    left: 0%;
  }
}
.menuLateral {
  position: fixed;
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
  width: 22rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #F2E205;
  padding-left: 2rem;
  padding-right: 2rem;
  z-index: 999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  color: #343a40;
}
.menuLateral h1 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
}
.menuLateral ul {
  text-align: center;
  list-style: none;
}
.menuLateral ul li {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.menuLateral .setaMenuLateral {
  width: 3rem;
  height: 5rem;
  background-color: #F2E205;
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translate(-100%, -50%);
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}
.menuLateral .setaMenuLateral img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.2rem;
  width: 100%;
}
.menuLateral .setaDeTrocaDeMenu {
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
  width: 9rem;
  height: 3rem;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
.menuLateral .setaDeTrocaDeMenu .setaEsquerda {
  width: 100%;
  height: 100%;
  background-color: black;
}
.menuLateral .setaDeTrocaDeMenu .setaEsquerda img {
  position: relative;
  padding: 0.2rem;
  left: 50%;
  width: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.menuLateral .setaDeTrocaDeMenu .numeroDaPaginaAtual {
  width: 100%;
  height: 100%;
  background-color: black;
  color: #FFF;
  font-size: 1.8rem;
  text-align: center;
  padding: 0.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.menuLateral .setaDeTrocaDeMenu .setaDireita {
  width: 100%;
  height: 100%;
  background-color: black;
}
.menuLateral .setaDeTrocaDeMenu .setaDireita img {
  position: relative;
  padding: 0.2rem;
  left: 50%;
  width: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.setaRetorno {
  position: absolute;
  left: 0;
  top: 0;
  width: 9.6rem;
  height: 9.6rem;
  background-image: url("../img/setaRetorno.png");
  -webkit-animation: seta 1s infinite;
          animation: seta 1s infinite;
}

.flexTituloD {
  margin-top: 1rem;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  place-items: center;
}
.flexTituloD img {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}
.flexTituloD a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 5rem;
  color: #F2E205;
}

.corpoDocumentacao {
  position: relative;
  top: 10.5rem;
  width: 96%;
  left: 50%;
  transform: translateX(-50%);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.corpoDocumentacao .descricaoInicial {
  font-size: 2.3rem;
  color: #FFF;
  font-family: "Noto Sans Chakma", sans-serif;
}
.corpoDocumentacao .hrDocumentacao {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid #F2E205;
}

.tituloSecaoReact {
  font-size: 3.5rem;
  color: #F2E205;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.listaSecaoReact {
  margin-left: 2rem;
}
.listaSecaoReact li {
  list-style: square;
  font-size: 2.5rem;
  color: #FFF;
  margin-bottom: 1rem;
}
.listaSecaoReact li::first-letter {
  text-transform: uppercase;
}

.codigo {
  margin-top: 0.5rem;
  background-color: #343a40;
  text-align: justify;
  padding: 0.5rem 1rem 0.5rem 1rem;
  height: content;
  width: 100%;
  border-radius: 0.2rem;
}
.codigo code {
  color: #FFF;
  font-size: 1.5rem;
}

.copiar {
  position: absolute;
  left: 100%;
  transform: translateX(-100%);
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  padding: 0.2rem;
}
.copiar:hover {
  padding: 0rem;
}
.copiar:active {
  padding: 0.2rem;
}
.copiar img {
  width: 80%;
  height: 80%;
}

.hidden {
  display: none;
}

.botaoShow {
  font-size: 1.5rem;
  height: 2.5rem;
  padding: 0.2rem 1rem 0.2rem 1rem;
}

.show {
  display: block;
  background-color: #b1fb12;
  margin-top: 0.5rem;
  text-align: justify;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 100%;
  border-radius: 0.2rem;
  color: #343a40;
  font-size: 2rem;
}
.show::first-letter {
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */