@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@500&display=swap');


#mainMenu{
  height: 100vh;
  display: grid;
  grid-template: 65px 1fr / repeat(2, 1fr);
  img{
    grid-row: 1/3;
    width: 100%;
    height: 100%;
  }
  h1{
    font-family: 'IBM Plex Sans JP', sans-serif;
    color: #FFF;
    grid-row: 1/2;
    grid-column: 2/3;
    text-align: center;
    font-size: 5rem;
  }

  ul{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    height: 80%;
    width: 80%;
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    place-items: center;

    li{
      img{
        height: 6.4rem;
        width: 6.4rem;
        margin-bottom: .5rem;
      }
      a{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: #FFF;
        place-items: center;
      }
      p{
        font-size: 3rem;
        text-transform: uppercase;
      }
    }
    }
}
// #imgInicial{
//   height: 100vh;
// }